@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div>Formulario para el Systema o Bot</div>
    1: enviar por conversation
    2: enviar por whatsapp separado
    <div class="col-12">
        @using (Html.BeginForm("sendMessage", "Home", FormMethod.Post))
        {
        <div class="row">
            <div class="col-5"><label>TIPO</label></div>
            <div class="col-7">
                <input class="form-control" name="type" />
            </div>
            <div class="col-5"><label>ID Conversation</label></div>
            <div class="col-7">
                <input class="form-control" name="idconver" />
            </div>
            <div class="col-3"><label>Telefono</label></div>
            <div class="col-9">
                <input class="form-control" name="phone" />
            </div>
            <div class="col-3"><label>Mensaje</label></div>
            <div class="col-9">
                <input class="form-control" name="message" />
            </div>
            <div class="col-12">
                <div class="justify-content-sm-end">
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </div>
         }
    </div>
</div>
<br /><br />
      <div class="row">
          <h1 id="idconvertext"> Id conversacion</h1>
          <div class="col-12" id="messages">
              <p>Mensaje</p>
          </div>
      </div>





@section Scripts{
    
    <script>
        $(document).ready(() => {
            getMessages();



            //setInterval( () => {
            //    $.ajax({
            //        url: 'http://104.211.4.24:6500/sms',
            //        method: 'POST',
            //        success: (_r) => {
            //            console.clear();
            //            console.log(_r);
            //        },
            //        error: (e) => {
            //            console.clear();
            //            console.log(e)
            //        }
            //    });
            //}, 3000);


        });

        function getMessages() {
            $.ajax({
                url: '@Url.Action("getMessages", "Home")',
                method: 'GET',
                contentType: 'application/json',
                success: (_r) => {
                    printMessages(JSON.parse(_r));
                },
                error: (e) => {
                    console.log(e)
                }
            });
        }

        function printMessages(data) {
            $("#idconvertext").text(data.messages[0].conversationId);

            $("#messages").empty();
            let html = '';
            $.each(data.messages, (index, item) => {
                if (item.contentType == 'TEXT') {
                    if (item.direction == 'INBOUND') {
                        html += `<p>Cliente: ${item.content.text}</p>`;
                    } else {
                        html += `<p>Bot: ${item.content.text}</p>`;
                    }
                } else if (item.contentType == 'IMAGE') {
                    if (item.direction == 'INBOUND') {
                        html += `<div class="border-danger">
                                    <p>CLiente: </p>
                                    <img src="${item.content.url}">
                                </div>`;
                    } else {
                        html += `<div class="border-danger">
                                    <p>Bot: </p>
                                    <img src="${item.content.url}">
                                </div>`;
                    }

                }
            });


            $("#messages").append(html);
        }

    </script>

}


